{% extends 'base.html' %}

{% block title %}Services-Softy{% endblock title %}

{% block body %}
<div class="container my-3">
<h1 class="my-2 text-center">Select from our range of cakes</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.unsplash.com/photo-1588195538326-c5b1e9f80a1b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FrZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=60" height="225" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Exotic Chocolate</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">$29.99</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.unsplash.com/photo-1486427944299-d1955d23e34d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGNha2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=60" height = "225" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Teal Icing Cupcakes</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">$29.99</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.unsplash.com/photo-1574085733277-851d9d856a3a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNha2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=60" height = "225" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Chocolate cupcakes with cherry</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">$29.99</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.unsplash.com/photo-1579306194872-64d3b7bac4c2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGNha2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=60" height = "225" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Chocolate Truffle Cake</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">$29.99</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://www.thebakeshop.co.in/wp-content/uploads/2020/06/black-forest-classic.jpg" height = "225" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Classic Black Forest</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">$29.99</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://media.istockphoto.com/photos/black-forest-cake-schwarzwald-pie-dark-chocolate-and-cherry-dessert-picture-id495672778?k=6&m=495672778&s=612x612&w=0&h=xEgOSsDj_sL09P0wHEDd_ehP3C7BVqme6A1wqifRweo=" height = "225" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">White Forest</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">$29.99</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}
